<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    {% block stylesheets %}
      {% stylesheets filter="cssrewrite"
      '@BlogBundle/Resources/Public/materialize/css/materialize.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
  <nav>
      <div class="nav-wrapper">
          <a href="{{ path ('blog_homepage')}}" class="brand-logo">Mon blog</a>
          <ul class="right hide-on-med-and-down">
              <li><a href="{{ path ('blog_homepage')}}">Accueil</a></li>
              <li><a href="{{ path ('bundle_articles')}}">Articles</a></li>
              <li><a href="{{ path ('bundle_categories')}}">Categories</a></li>

              {% if app.user %}
                  <li><a href="{{ path ('bundle_newArticle')}}">Ajouter Article</a></li>
                  <li><a href="{{ path ('bundle_newTag')}}">Ajouter Tag</a></li>
                  <li><a href="{{ path ('bundle_newCategory')}}">Ajouter Categories</a></li>
                  <li><a href="{{ path ('bundle_admin')}}">Admin</a></li>
                  <li><a href="{{ path ('bundle_logout')}}" class="waves-effect waves-light btn">Se déconnecter</a></li>
              {% else %}
                  <li><a href="{{ path ('bundle_login')}}" class="waves-effect waves-light btn">Connexion</a></li>
                  <li><a href="{{ path ('bundle_signup')}}" class="waves-effect waves-light btn">Inscription</a></li>
              {% endif %}
          </ul>
      </div>
 </nav>
  {% block body %}
  {% endblock %}
  </body>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
      $(document).ready(function() {
          $('select').material_select();
      });
  </script>
</html>
