{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <ul class="collection col s6 offset-s3">
            {% for article in articles %}
              <li class="collection-item avatar">
                  <a href="{{ path ('bundle_editArticle', {'id': article.id}) }}" class="circle center"><i class="material-icons">settings</i></a>
                  <span class="title">{{ article.title}}</span>
                  <p>{{ article.summary }}<br>
                     {{ article.author.username }}
                  </p>
                  <a href="{{ path ('bundle_deleteArticle', {'id': article.id}) }}" class="secondary-content"><i class="material-icons">settings_power</i></a>
              </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
