{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
  {% for article in articles %}
    <a href="{{ path ('bundle_article', {'id': article.id}) }}">
      <h4>{{ article.title}}</h4><a class="btn-flat disabled">{{ article.comments.count}} Commentaires</a>
    </a>
      <i>{{ article.summary }}</i>
      <p>{{ article.content }}</p>
      <p>Auteur : {{ article.author.username }}</p>
      <p>Catégorie : {{ article.category.name }}</p>
      {% for tag in article.tags %}
      <div class="chip">
          {{ tag.name }}
      </div>
      {% endfor %}

  {% endfor %}
{% endblock %}
