{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
  {% for article in articles %}
    <a href="{{ path ('bundle_article', {'id': article.id}) }}">
      <h4>{{ article.title}}</h4>
    </a>
      <p>{{ article.summary }}</p>
      <p>{{ article.content }}</p>
      <p>{{ article.author }}</p>
      <p>{{ article.category }}</p>
      <p>{{ article.tags }}</p>

  {% endfor %}
{% endblock %}
