{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}
    <h4>{{ article.title}}</h4>
    <i>{{ article.summary }}</i>
    <p>{{ article.content }}</p>
    <p>Auteur : {{ article.author.username }}</p>
    <p>Catégorie : {{ article.category.name }}</p>
    {% for tag in article.tags %}
        {{ tag.name }}
    {% endfor %}



      {% for comment in article.comments %}

          <p>{{ comment.author }}</p>
          <p>{{ comment.content }}</p>
          <p>{{ comment.publishedAt|date("m/d/Y")}}</p>

      {% endfor %}
{% endblock %}
